<%- include ('../partials/header') %>
<%- include ('../partials/navigation') %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3><b>Welcome to our website!</b></h3>
      <p>
        <strong>Where renting is done at a P2P level!</strong> Thank you for taking your time in
        looking at our senior project for CSUN: Department of Engineering and Computer
        Science. This website is based on the idea of having a website where users are
        able to lease their items in order to make income or is looking for an item
        and use it for a duration, instead of buying it. So please look around and if any
        issues occurs, please use the contact us page. Have a pleasant day!
      </p>
      <p>
        <h3><b>The team behind this project:</b></h3>
        <h4><b>The Underbots</b></h4>
        <ul>
          <li>Cristian Ramirez - Team Lead/Back End Developer</li>
          <li>Vince Fearing - Back End Developer</li>
          <li>Mohammed Al Moosawi - Back End Developer</li>
          <li>Ravindu Gunasinghe - Front End Developer</li>
          <li>Aaron Christian Navarro - Front End Developer</li>
          <li>Talha Harooni - Front End Developer</li>
        </ul>

      </p>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3><b>Our location on map</b></h3>
      <p>CSUN 18111 Nordhoff St, Northridge, CA 91330</p>
      <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/map.js"></script>

<%- include ('../partials/footer') %>