<%- include ('../partials/header') %>
<%- include ('../partials/navigation') %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Policy</h1>
      <p>
        This page will consist of shipping policy for the items being lease and
        our store's policy.
      </p>

      <h4>Order Processing and Delivery Duration</h4>
      <p>
        Orders are processed based on the leasee's behalf. They will contact you in regards
        to the shipment, including when it was shipped, when it should arrive, tracking number
        if given, and anything related to the shipment of the item. Or in the case of meeting in-person,
        time and location where the meeting is suppose to occur. Please order ahead of time in order
        for the item to arrive for your personal usage. If meeting in person, please be aware of your
        safety and choose a well lit and populated area to deter any possible criminal activity. 
      </p>

      <h4>Condition of Items</h4>
      <p>
        We don't hold any of the items listed in our sight, it is the responsibility of each user
        to be honest on the condition of their items and also to ask questions about the item you 
        are interested in renting. Be vigilant.
      </p>

      <h4>Shipping Rates</h4>
      <p>
        Shipping rates are all responsibility of the user's in the near future we might implement a
        shippinh tool but as of now, it is the user's task to handle it. We are the middle ground for
        the transaction. 
      </p>

      <h4>Returning Products</h4>
      <p>
        Since the user is renting an item out, there is no refund, but in the event an issue
        occurs, please contact the leaser about the problem and if the issue persists, please use
        the contact us page to send us an email and we will look into the situation. We are not liable
        for any damage or stolen items, but we will do our best to make sure that both parties are 
        satisfied. 
      </p>

      <h1 class="mt-4 mb-5 text-center">F.A.Q.</h1>
      <p>
        <dl>
          <dt>So this is a fake website?</dt>
          <dd>Why yes! This was created for the purpose of our senior project at CSUN.</dd>
          <dt>Are the stuff here accurate, real, valid, etc?</dt>
          <dd>Majority of the data here has been randomly generated using a helper function
            or making a custom document.
          </dd>
          <dt>Why the WWE reference?</dt>
          <dd>Came up during our early stages and we just stick with it, short and simple story.</dd>
          <dt>Is the payment system real?</dt>
          <dd>We are using a system called Stripe that actually has legit payment system,
            but one can use it for testing purposes. But it is very recommended to not use any real
            credit/debit card to avoid any real charges.
          </dd>
          <dt>What if I have more questions?</dt>
          <dd>Continue reading below!</dd>
        </dl>
      </p>

      <h4>Do you have questions, complaints, comments?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contactus" class = "contact-email"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>
<%- include ('../partials/footer') %>