</div>
<footer>
<section id="contact" class="mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 white-links">
            <p class="footer-title">About Us</p>
            <ul>
                <li>
                    <a href="/pages/aboutus">About Our Store</a>
                </li>
                <li>
                    <a href="/pages/contactus">Contact Us</a>
                </li>
                <li>
                    <a href="/pages/policy">RentO's Policy</a>
                </li>
            </ul>  
        </div>

      <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
        <p class="footer-title">Follow Us</p>
        <ul>
          <li>
            <a href="https://www.csun.edu/engineering-computer-science" target="_blank"><i class= "fas fa-graduation-cap" aria-hidden="true"></i>CSUN</a>
          </li>
          <li>
            <a id="profile-link" target="_blank" href="https://www.instagram.com/csun_edu/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
          </li>
          <li>
            <a href="https://twitter.com/csunorthridge?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  
  <section class="bottom-footer">
    <div class="row">
    <div class="col-12 mr-auto">
      ©RentO 2023 <br>**This is just a fake ecommerce website for our senior project at CSUN, Spring semester. 
      <br>All listings, accounts, prices and contact details given here are not real. Thank you!**
    </div>
   </div>
  </section>

</footer>
</div>

<script src="/js/home.js"></script>
</body>
</html>