<!DOCTYPE html>
<html>
  <head>

    <!--Determines if Title Tag in interet tabs
    need to be a certain page or lands on shopping cart.-->
    <% if (pageName) { %>
    <title>RentO | <%= pageName %></title>
    <%} else {%>
    <title>Shopping Cart</title>
    <% } %>

    <!--Acquirung the jQuery functions from a website instead of
    downloading it into the server.-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <!--API that helps pop out elements of the website, making it easier for the 
    user to see.-->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <!--Free open source front-end framework, good for making legit responsive design
    for websites. CSS version-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <!--Free open source front-end framework, good for making legit responsive design
    for websites. Javascript version-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!--Free font kit for unique character fonts and style.-->
    <script src="https://kit.fontawesome.com/eb2c086148.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/rento.css"/>
    <script src="/js/button.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Mapbox GL is a client side Javascript library used for tools in 
    regards to maps -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>

  <body id = "top">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div id="page-container">
      <div id="content-wrap">
        <div class="row nav-container mx-auto header-rento">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="search-container">
              <form class="form-inline" action="/listing/search" method="GET">
                <input
                class="search-input"
                type="search"
                placeholder="Search"
                name="search"
                />
              </form>
            </div>
          </div>

        <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
          <a href="/">
            <h2 class="logo-title">RentO</h2>
          </a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 right-nav">
          <ul>
            <li>
              <a href="/shopping-cart">
                <i class="fa-solid fa-cart-shopping"></i> <% if(session.cart) { %>
                <span class="badge badge-pill badge-info"
                ><%= session.cart.totalQty %></span
                >
                <% } else { %>
                <span class="badge badge-pill badge-info">0</span>
                <% } %>
              </a>
            </li>
          <% if (login) { %>
          <li>
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i> Hello, <%=currentUser.fullname%>!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item drop-Text" href="/account/account">Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item drop-Text" href="/account/logout">Logout</a>
            </div>
          </li>
          <% } else {%>
          <li>
            <a href="/account/signup"> Sign Up</a>
          </li>
          <li>
            <a href="/account/signin"> Sign In</a>
          </li>
          <% }%>
        </ul>
      </div>
    </div>